name: Test

on:
  push:
    branches:
      - "main"
      - "feat/*"
  workflow_dispatch:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5.0.0
      - uses: jdx/mise-action@v3.5.1
        with:
          version: 2025.8.21
      - run: mise run lint
